body {
  background: #212121;
}

.wrapper {
  width: auto;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .wrapper {
    width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .wrapper {
    width: 540px;
  }
}
