.Header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  &__brand {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
  &__auth {
    display: flex;
    align-items: center;
  }
  &__user {
    margin-right: 20px;
  }
}
